version: '3'
services:
  backend:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - MONGO_URL=mongodb+srv://aleezegneni_db_user:123456A@cluster0.vcg6dxb.mongodb.net/?appName=Cluster0
    container_name: server

  frontend:
    build: ./client
    ports:
      - "3000:80"
    depends_on:
      - backend
    container_name: client
