version: '3'
services:
  backend:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
    container_name: server

  frontend:
    build: ./client
    ports:
      - "3000:80" # React runs on port 3000, but served via Nginx on 80
    depends_on:
      - backend
    container_name: client
