frontend:
  replicaCount: 2
  image:
    repository: dev-book-master-frontend
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 80
    nodePort: 30081

backend:
  replicaCount: 2
  image:
    repository: dev-book-master-backend
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 5000
